<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal" >My site</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
<div class="container mt-5">
    <h1>Сайт объявлений</h1>
    <div th:each="el : ${ad}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"/>
        <p th:text="${'Категория:' + ' ' + el.category}"/>
        <p th:text="${'Описание:' + ' ' + el.descriptions}"/>
        <p th:text="${'Номер телефона:' + ' ' + el.numberPhone}"/>
        <p th:text="${'Дата:' + ' ' + el.date}"/>
    </div>
</div>
</body>
</html>